<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mentors</title>
</head>
<body>

<table>
  <thead>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Age</td>
    <td>Gender</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${mentor1.getFirstName()}"></td>
    <td th:text="${mentor1.getLastName()}"></td>
    <td th:text="${mentor1.getAge()}"></td>
    <td th:text="${mentor1.getGender()}"></td>

  </tr>
  <tr>
    <td th:text="${mentor2.getFirstName()}"></td>
    <td th:text="${mentor2.getLastName()}"></td>
    <td th:text="${mentor2.getAge()}"></td>
    <td th:text="${mentor2.getGender()}"></td>
  </tr>
  <tr>
    <td th:text="${mentor3.getFirstName()}"></td>
    <td th:text="${mentor3.getLastName()}"></td>
    <td th:text="${mentor3.getAge()}"></td>
    <td th:text="${mentor3.getGender()}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>