<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mentors</title>
</head>
<body>

<table>
  <thead>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Age</td>
    <td>Gender</td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="mentor : ${mentorList}">
    <td th:text="${mentor.getFirstName()}"></td>
    <td th:text="${mentor.getLastName()}"></td>
    <td th:text="${mentor.getAge()}"></td>
    <td th:text="${mentor.getGender()}"></td>
  </tr>

  </tbody>
</table>

</body>
</html>